# Ignorar arquivos de log
# *.log

# Não ignore o node_modules, dist, etc.
# node_modules/
# dist/
# dist-ssr/
# .local/

# Ignorar configurações de editor
# .vscode/
# .idea/
# .DS_Store
# *.suo
# .ntvs*
# *.jsproj
# *.sln
# *.sw?

# Não ignore nada agora, remova todos os comentários acima
